body{
  background-color: aliceblue;
}

img{
  width: 100%;
  max-height: 40vh;
}

ion-card{
  ion-card-header{
    ion-card-title{
      font-size: 1.2em;
    }
  }
}

p {
  margin-bottom: 20vh !important;

  ion-text {
    font-size: 0.8rem;
  }
}

ion-toolbar.tabs{
  position: absolute;
  bottom: 0;
}
